################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/swagger-codegen-demo/
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/config

/gen/